body {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Barlow', sans-serif;
  color: white;

}

#title {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 50px;
  font-size: 36px;
}

#timer {
  text-align: center;
  color: #F7A301;
  border: 5px solid #F7A301;
  font-size: 36px;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
}

.timer-type {
  font-size: 28px;
}

#time-left {
  font-weight: bolder;
}

#timer-wrapper {
  margin-top: 20vh;


}

.timer-control {
  font-size: 24px;
}

.bg-orange {
  background-color: #F7A301;
}

.length {
  font-size: 24px;
}

#break-label {
  justify-content: center;
  text-align: center;
}

#session-label {
  justify-content: center;
  text-align: center;
}

.controls-wrapper {
  padding: 20px;
  justify-self: center;
}

#start_stop {
  margin-right: 10px;
}

#controls-block {
  margin: 0 auto;
  margin-top: 70px;
}

#credits {
  display: block;
  text-align: center;
  margin-top: 45px;
  font-weight: lighter;
}

@media (max-width: 880px) {

  #title {
    display: none;
    margin-bottom: 0;
  }
  #timer {
    width: 200px;
    height: 150px;
    border-radius: 30px;
    padding: 10px;
    float: bottom;
  }

  #timer-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;

  }

  .timer-control {
    font-size: 20px;
  }

  #break-label {
    margin: 0 auto !important;
    margin-top: 10px !important;
  }

  #session-label {
    margin: 0 auto !important;
    margin-top: 10px !important;
  }

  #controls-block {
    margin-top: 10px;
  }


}







